{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>하하하</title>
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
        {% block style %}
        {% endblock %}
    </head>
    <body>
        {% if user.is_authenticated %}
            <div class="container"> 
                <form action={% url 'accounts:logout' %} method="POST">
                    {% csrf_token %}
                    {{user.get_username}} 님 환영합니다

                    <button type="submit" class="btn btn-primary">LOGOUT</button>
                </form>
            <div>
        {% else %}
            <div class="container">
                <a href="{% url 'accounts:signup' %}">
                    <button type="submit" class="btn btn-primary">SIGNUP</button>
                </a>

                <a href="{% url 'accounts:login' %}">
                    <button type="submit" class="btn btn-primary">LOGIN</button>
                </a>
            </div>
        {% endif %}

        <div class="container">
            <a href="{% url 'mydata' %}">
                <button name="ct">내 데이터</button>
            </a>
        </div> 
        
        {% block content %}
        {% endblock %}
    </body>
</html>