<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ct 서비스 페이지</h1>
    <textarea name="ct 이미지" cols="30" rows="10">환자 ct 이미지</textarea>
    {% comment %} <textarea name="ct 이미지" cols="10" rows="10">정상 ct 이미지</textarea> {% endcomment %}
    <br/><br/>
    <button name="이미지 선택">이미지 선택</button>
    <button name="이미지 등록">이미지 등록</button>
    <a href= "{% url 'ctresult' %}">
        <button name="결과 보기">결과 보기</button>
    </a>
</body>
</html>