<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login</h1>
    <form action="{% url 'login'%}" method='POST'>
        {% csrf_token %}
        <input type='text' placeholder='ID' name='user_id' />
        <br/><br/>
        <input type='password' placeholder='Password' name='user_pw' />
        <br/><br/>
        <button type="submit">login</button>
    </form>
</body>
</html>