{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'firstapp/style.css' %}" type="text/css" />
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}
    <br/></br/>
    <h1>메인 페이지</h1>
    
    
    <br/>
    <br/>
    <textarea name="홈페이지 설명" cols="40" rows="20">홈페이지 설명</textarea>
    
    <a href="{% url 'xray' %}">
        <button name="x-ray">x-ray 서비스</button>
    </a>
    
    <a href="{% url 'ct' %}">
        <button name="ct">ct 서비스</button>
    </a>



    <br/>
    <br/>


</body>
</html>
{% endblock %}