{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'firstapp/style.css' %}" type="text/css" />
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}
    <br/></br/>
    <h1>메인 페이지</h1>
    
    {% comment %} <a href="{% url 'signup' %}">Sign up</a>
    <a href="{% url 'login' %}">Log in</a> {% endcomment %}
    <br/>
    <br/>
    <textarea name="홈페이지 설명" cols="40" rows="20">홈페이지 설명</textarea>
    
    <a href="{% url 'xray' %}">
        <button name="x-ray">x-ray 서비스</button>
    </a>
    
    <a href="{% url 'ct' %}">
        <button name="ct">ct 서비스</button>
    </a>

    {% comment %} <textarea name="x-ray 이미지" cols="10" rows="10">x-ray 이미지</textarea>
    
    <textarea name="ct 이미지" cols="10" rows="10">ct 이미지</textarea>
    <br/>
    <br/>
    <button name="x-ray 이미지 등록">x-ray upload</button>
    <button name="ct 이미지 등록">ct upload</button> {% endcomment %}
    <br/>
    <br/>


    {% comment %} {% for i in user %}
        {{i}}
    {% endfor %}   {% endcomment %}
     
    
</body>
</html>
{% endblock %}