{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'firstapp/style.css' %}" type="text/css" />
{% endblock %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}
    <h1>my data</h1>
    <textarea>aaaaaaaaaaaaaaa</textarea>
    <br/><br/>

    {% for image in all_image %}
        {{image.image}}
        {% comment %} <img src="{{image.url}}" {% endcomment %}
        {% comment %} <img src="{% static 'image.url' %}"></img> {% endcomment %}
        {% comment %} <img src="{{image.image.url}}"> {% endcomment %}
        {% comment %} <img src={{image}}> {% endcomment %}
        {% comment %} <img src="/ firstapp {{image.image.url}}">  {% endcomment %}
        
    {% endfor %}

    <br/><br/>
    <a href="{% url 'main' %}">
        <button>확인</button>
    </a>
    
</body>
</html>
{% endblock %}