{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'firstapp/style.css' %}" type="text/css" />
{% endblock %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}
    <h1>my data</h1>
    <textarea>aaaaaaaaaaaaaaa</textarea>
    <br/><br/>

    {% for image in all_image %}
        {% comment %} {{image.image}} {% endcomment %}
        
        {% comment %} filter로 유저별 사진을 정렬한 데이터들의 집합 all_image에서 각image에서 image를 가져온다라는 의미 {% endcomment %}
        {% if image.image %} 
            <img src="{{image.image.url}}" width='150' height='200'>
        {% endif %}
        
    {% endfor %}

    {{all_image_url}}

    <br/><br/>
    <a href="{% url 'main' %}">
        <button>확인</button>
    </a>
    
</body>
</html>
{% endblock %}